// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
    overflow-y: scroll;
  }

:root {
    --banner-height: 64px;
  }

.hpImage {
	padding: 10px;
}


$color_1: #fff;

.startBtn {
	text-decoration: none;
	color: $color_1;
	&:hover {
		text-decoration: none;
		color: $color_1;
	}
}


body.banner-offset {
    margin-top: calc(var(--bs-gutter-y) + var(--banner-height));
  }

  #sidebarMenu .nav-link.active {
    text-decoration: underline;
  }
  footer {
    h1, h2, h3, h4, h5, h6 {
      font-size: 80%;
    }
  }

  .section2Content::before {
    content: '▶️';
}

.section2Content::before {
    content: '🔽';
}


.bi-dash {
  display: block;
}

.bi-plus {
  display: none;
}

@media (min-width: 480px) {
   #section2Content, #section3Content, #section4Content, #section5Content, #section6Content, #section7Content, #section8Content, #section9Content{
   display:none;
  }
}

@media (min-width: 600px) {
   #section2Content, #section3Content, #section4Content{

   display:block;
  }
}

@media (min-width:801px) {
   #section2Content, #section3Content, #section4Content{

   display:block;
  }
}


 